
*.new

components/prueba_statemachine2/cmake-build-debug/

components/prueba_statemachine2/build/

components/prueba_statemachine2/bin/

components/customStateMachine/cmake-build-debug/

components/noSmdslTest/cmake-build-debug/

components/noSmdslTest/build/

components/defaultStateMachine/cmake-build-debug/

components/defaultStateMachine/build/

components/defaultStateMachine/bin/

*.pyc

*\.idea/
